<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/commonhead %>
</head>

<body>
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <% include partials/headermobile %>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <% include partials/sidebar %>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <% include partials/headerdesktop %>
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="overview-wrap">
                                    <h2 class="title-1">Dashboard</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row m-t-25">
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c1">
                                    <a href="/admin/spices">
                                        <div class="overview__inner">
                                            <div class="overview-box clearfix">
                                                <div class="icon">
                                                    <i class="zmdi zmdi-info-outline"></i>
                                                </div>
                                                <div class="text">
                                                    <h2><%= spices %></h2>
                                                    <span>Spices</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row m-t-25">
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c2">
                                    <a href="/admin/blends">
                                        <div class="overview__inner">
                                            <div class="overview-box clearfix">
                                                <div class="icon">
                                                    <i class="zmdi zmdi-info-outline"></i>
                                                </div>
                                                <div class="text">
                                                    <h2><%= blends %></h2>
                                                    <span>Blends</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c3">
                                    <a href="/admin/flavors">
                                        <div class="overview__inner">
                                            <div class="overview-box clearfix">
                                                <div class="icon">
                                                    <i class="zmdi zmdi-info-outline"></i>
                                                </div>
                                                <div class="text">
                                                    <h2><%= flavors %></h2>
                                                    <span>Flavors</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c4">
                                    <a href="/admin/ingredients">
                                        <div class="overview__inner">
                                            <div class="overview-box clearfix">
                                                <div class="icon">
                                                    <i class="zmdi zmdi-info-outline"></i>
                                                </div>
                                                <div class="text">
                                                    <h2><%= ingredients %></h2>
                                                    <span>Ingredients</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-sm-6 col-lg-3">
                                <div class="overview-item overview-item--c1">
                                    <a href="/admin/regions">
                                        <div class="overview__inner">
                                            <div class="overview-box clearfix">
                                                <div class="icon">
                                                    <i class="zmdi zmdi-info-outline"></i>
                                                </div>
                                                <div class="text">
                                                    <h2><%= regions %></h2>
                                                    <span>Regions</span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <% include ../partials/messages %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <% include partials/footer %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>

    </div>
    <% include partials/commonscripts %>
</body>

</html>