<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/commonhead %>
    <link rel="stylesheet" href="/admin/css/semantic.min.css">
    <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.8/components/icon.min.css'>
</head>

<body>
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <% include partials/headermobile %>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <% include partials/sidebar %>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <% include partials/headerdesktop %>
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row mb-4">
                            <div class="col-md-12">
                                <div class="overview-wrap">
                                    <h2 class="title-1">Edit Herb / Spice</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <% include ../partials/messages %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <form action="/admin/editspice" method="post" class="form-horizontal" encType="multipart/form-data">
                                        <input type="text" name="spiceid" id="spiceid" class="d-none" value="<%= spice._id %>">
                                        <div class="card-body card-block">
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="name" class=" form-control-label">Name <span class="text-danger">*</span></label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="text" id="name" name="name" class="form-control"
                                                        required value="<%= spice.name %>">
                                                </div>
                                            </div>
                                            <div class="row mb-2">
                                                <div class="col col-md-3">
                                                    <label class="form-control-label">Current Image</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <img src="/images/spices/<%= spice.image %>" alt="" class="img-thumbnail img-rounded" style="width: 250px;" id="imgpreview">
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="image" class="form-control-label">Image</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="file" id="image" name="image" class="form-control"
                                                        accept=".jpeg, .jpg, .png">
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="imageurl" class="form-control-label">Image URL</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="text" id="imageurl" name="imageurl" class="form-control">
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="descripition"
                                                        class=" form-control-label">Description</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <textarea name="description" id="description" rows="2"
                                                        class="form-control"><%= spice.description %></textarea>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="blends" class="form-control-label">Blends</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <select class="ui fluid search dropdown" multiple="" name="blends" id="blends">
                                                        <option value="">Blends</option>
                                                        <% for (var i = 0; i < blends.length; i++) { %>
                                                            <option value="<%= blends[i]._id %>"><%= blends[i].name %></option>
                                                        <% } %>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="flavors" class="form-control-label">Flavors</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                        <select class="ui fluid search dropdown" multiple="" name="flavors" id="flavors">
                                                            <option value="">Flavors</option>
                                                            <% for (var i = 0; i < flavors.length; i++) { %>
                                                                <option value="<%= flavors[i]._id %>"><%= flavors[i].name %></option>
                                                            <% } %>
                                                        </select>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="ingredients" class="form-control-label">Ingredients</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                        <select class="ui fluid search dropdown" multiple="" name="ingredients" id="ingredients">
                                                            <option value="">Ingredients</option>
                                                            <% for (var i = 0; i < ingredients.length; i++) { %>
                                                                <option value="<%= ingredients[i]._id %>"><%= ingredients[i].name %></option>
                                                            <% } %>
                                                        </select>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="regions" class="form-control-label">Regions</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                        <select class="ui fluid search dropdown" multiple="" name="regions" id="regions">
                                                            <option value="">Regions</option>
                                                            <% for (var i = 0; i < regions.length; i++) { %>
                                                                <option value="<%= regions[i]._id %>"><%= regions[i].name %></option>
                                                            <% } %>
                                                        </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <button type="submit" class="btn btn-primary btn-sm">
                                                <i class="fa fa-dot-circle-o"></i> Save
                                            </button>
                                            <button type="reset" class="btn btn-danger btn-sm">
                                                <i class="fa fa-ban"></i> Reset
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <% include partials/footer %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>

    </div>
    <% include partials/commonscripts %>
    <script src="/admin/js/semantic.min.js"></script>
    <script>
        var spice = eval(<%- JSON.stringify(spice) %>)
    </script>
    <script src="/javascripts/admin/editspice.js"></script>
</body>

</html>