<!DOCTYPE html>
<html lang="en">

<head>
    <% include partials/commonhead %>
</head>

<body>
    <div class="page-wrapper">
        <!-- HEADER MOBILE-->
        <% include partials/headermobile %>
        <!-- END HEADER MOBILE-->

        <!-- MENU SIDEBAR-->
        <% include partials/sidebar %>
        <!-- END MENU SIDEBAR-->

        <!-- PAGE CONTAINER-->
        <div class="page-container">
            <!-- HEADER DESKTOP-->
            <% include partials/headerdesktop %>
            <!-- HEADER DESKTOP-->

            <!-- MAIN CONTENT-->
            <div class="main-content">
                <div class="section__content section__content--p30">
                    <div class="container-fluid">
                        <div class="row mb-4">
                            <div class="col-md-12">
                                <div class="overview-wrap">
                                    <h2 class="title-1">Regions</h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <% include ../partials/messages %>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <form action="/admin/addregion" method="post" class="form-horizontal">
                                        <div class="card-header">
                                            Add <strong>New</strong> Region
                                        </div>
                                        <div class="card-body card-block">
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="name" class=" form-control-label">Name <span class="text-danger">*</span></label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <input type="text" id="name" name="name" class="form-control"
                                                        required>
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col col-md-3">
                                                    <label for="descripition"
                                                        class=" form-control-label">Description</label>
                                                </div>
                                                <div class="col-12 col-md-9">
                                                    <textarea name="description" id="description" rows="2"
                                                        class="form-control"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <button type="submit" class="btn btn-primary btn-sm">
                                                <i class="fa fa-dot-circle-o"></i> Save
                                            </button>
                                            <button type="reset" class="btn btn-danger btn-sm">
                                                <i class="fa fa-ban"></i> Reset
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div class="card">
                                    <div class="card-header">
                                        <strong>Regions</strong>
                                    </div>
                                    <div class="card-body">
                                        <div class="table-wrapper">
                                            <table class="table">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Name</th>
                                                        <th>Description</th>
                                                        <th>Edit</th>
                                                        <th>Delete</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <% for (var i = 0; i < regions.length; i++) { %>
                                                    <tr>
                                                        <td scope="row"><%= i + 1 %></td>
                                                        <td><%= regions[i].name %></td>
                                                        <td><%= regions[i].description %></td>
                                                        <td>
                                                            <a href="/admin/editregion/<%= regions[i]._id %>" class="text-primary">
                                                                <i class="fas fa-edit"></i>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a href="/admin/deleteregion/<%= regions[i]._id %>" class="text-danger">
                                                                <i class="fas fa-trash"></i>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                    <% } %>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <% include partials/footer %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END MAIN CONTENT-->
            <!-- END PAGE CONTAINER-->
        </div>

    </div>
    <% include partials/commonscripts %>
</body>

</html>