<!DOCTYPE html>
<html>

<head>
  <% include partials/commonhead %>
  <link rel="stylesheet" href="/stylesheets/index.css">
</head>

<body>
  <div class="body-wrapper">
    <!-- Top Section Starts -->
    <div class="container">
      <!-- Title Row -->
      <div class="row">
        <div class="col">
          <div class="page-header">
            <a href="/">
              <h1>Spice Vault</h1>
            </a>
          </div>
        </div>
      </div>
      <!-- Title Row Ends -->

      <!-- Form Starts -->
      <form action="/" method="GET">
        <!-- Search Row -->
        <div class="row">
          <div class="col-md-5 mx-auto mt-2">
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Spices/Herbs</button>
                  <div class="dropdown-menu">
                    <a class="dropdown-item active spices" href="#">Spices/Herbs</a>
                    <a class="dropdown-item blends" href="#">Blends</a>
                  </div>
                </div>
                <input type="text" class="form-control searchbox" aria-label="Text input with dropdown button" placeholder="Search" name="searchtext" value="<%= query.searchtext ? query.searchtext : ''%>">
              </div>
              <input type="text" name="spiceblend" class="spiceblendinput d-none" value="spices">
          </div>
        </div>
        <!-- Search Row Ends -->

        <!-- Filters Row -->
        <% if (query.spiceblend === 'spices' || !query.spiceblend) { %>
        <div class="row">
          <div class="col">
            <div class="filters__wrapper">
              <div class="filter__container">
                <span class="filter__label">Flavors</span>
                <select class="ui fluid search dropdown filter__select__flavors" multiple="" name="flavors">
                  <option value="">All Flavors</option>
                  <% for (var i = 0; i < flavors.length; i++) { %>
                    <option value="<%= flavors[i]._id %>"><%= flavors[i].name %></option>
                  <% } %>
                </select>
              </div>
              <div class="filter__container">
                <span class="filter__label">Ingredients</span>
                <select class="ui fluid search dropdown filter__select__ingredients" multiple="" name="ingredients">
                  <option value="">All Ingredients</option>
                  <% for (var i = 0; i < ingredients.length; i++) { %>
                    <option value="<%= ingredients[i]._id %>"><%= ingredients[i].name %></option>
                  <% } %>
                </select>
              </div>
              <div class="filter__container">
                <span class="filter__label">Regions</span>
                <select class="ui fluid search dropdown filter__select__regions" multiple="" name="regions">
                  <option value="">All Regions</option>
                  <% for (var i = 0; i < regions.length; i++) { %>
                    <option value="<%= regions[i]._id %>"><%= regions[i].name %></option>
                  <% } %>
                </select>
              </div>
            </div>
          </div>
        </div>
        <% } %>
        <!-- Filters Row Ends -->

        <!-- Buttons Row -->
        <div class="row mt-2">
          <div class="col text-right">
            <button class="btn btn-primary btn-sm btn-apply" type="submit">Apply</button>
            <button class="btn btn-secondary btn-sm btn-cancel">Reset</button>
          </div>
        </div>
        <!-- Buttons Row Ends -->
      </form>
      <!-- Form Ends -->
    </div>
    <!-- Top Section Ends -->
    <!-- Glossary Section Starts -->
    <section id="glossary-section">
      <div class="container">
        <div class="glossary__wrapper">
          <% if (query.spiceblend === 'spices' || !query.spiceblend) { %>
          <% for (var i = 0; i < spices.length; i++) { %>
          <div class="glossary__item">
            <div class="glossary__heading">
              <a href="/details/<%= spices[i]._id %>" class="text-dark">
                <%= spices[i].name %>
              </a>
            </div>
            <div class="glossary__content">
              <p class="text"><%= spices[i].description %><a href="/details/<%= spices[i]._id %>" class="readmore text-primary">Details...</a></p>
            </div>
          </div>
          <% } %>
          <% } else { %>
            <% for (var i = 0; i < blends.length; i++) { %>
              <div class="glossary__item">
                <div class="glossary__heading">
                  <a href="/blenddetails/<%= blends[i]._id %>" class="text-dark">
                    <%= blends[i].name %>
                  </a>
                </div>
                <div class="glossary__content">
                  <p class="text"><%= blends[i].description %><a href="/blenddetails/<%= blends[i]._id %>" class="readmore text-primary">Details...</a></p>
                </div>
              </div>
              <% } %>
          <% } %> 
        </div>
      </div>
    </section>
    <!-- Glossary Section Ends -->
  </div>
  <% include partials/commonscripts %>
  <% if (query.spiceblend === 'spices' || !query.spiceblend) { %>
  <script>
      var blends = eval(<%- JSON.stringify(blends) %>)
      var query = eval(<%- JSON.stringify(query) %>)
      var spices = eval(<%- JSON.stringify(spices) %>)
      var flavors = eval(<%- JSON.stringify(flavors) %>)
      var ingredients = eval(<%- JSON.stringify(ingredients) %>)
      var regions = eval(<%- JSON.stringify(regions) %>)
      var allspices = eval(<%- JSON.stringify(allspices) %>)
  </script>
  <% } else { %>
    <script>
      var blends = eval(<%- JSON.stringify(blends) %>)
      var query = eval(<%- JSON.stringify(query) %>)  
    </script>
  <% } %>
  <script src="/javascripts/index.js"></script>
</body>

</html>